<main class="container">
  <div class="header">
    <h1>Login</h1>
  </div>
  <div class="alert alert-primary" role="alert">
    This is a primary alert—check it out!
  </div>

  <%= render "form" %>

  <%= link_to "Sign up", "/users/new" %>
</main>